<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.fjut.bookshop.dao.CateGoryMapper" >
  <resultMap id="BaseResultMap" type="edu.fjut.bookshop.domain.CateGory" >
    <constructor >
      <idArg column="categoryId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="categoryName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="inventory" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="salesVolume" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    categoryId, categoryName, inventory, salesVolume
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="edu.fjut.bookshop.domain.CateGoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from bs_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bs_category
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bs_category
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.fjut.bookshop.domain.CateGory" >
    insert into bs_category (categoryId, categoryName, inventory, 
      salesVolume)
    values (#{categoryid,jdbcType=INTEGER}, #{categoryname,jdbcType=VARCHAR}, #{inventory,jdbcType=BIGINT}, 
      #{salesvolume,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.fjut.bookshop.domain.CateGory" >
    insert into bs_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryid != null" >
        categoryId,
      </if>
      <if test="categoryname != null" >
        categoryName,
      </if>
      <if test="inventory != null" >
        inventory,
      </if>
      <if test="salesvolume != null" >
        salesVolume,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryid != null" >
        #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="categoryname != null" >
        #{categoryname,jdbcType=VARCHAR},
      </if>
      <if test="inventory != null" >
        #{inventory,jdbcType=BIGINT},
      </if>
      <if test="salesvolume != null" >
        #{salesvolume,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update bs_category
    <set >
      <if test="record.categoryid != null" >
        categoryId = #{record.categoryid,jdbcType=INTEGER},
      </if>
      <if test="record.categoryname != null" >
        categoryName = #{record.categoryname,jdbcType=VARCHAR},
      </if>
      <if test="record.inventory != null" >
        inventory = #{record.inventory,jdbcType=BIGINT},
      </if>
      <if test="record.salesvolume != null" >
        salesVolume = #{record.salesvolume,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bs_category
    set categoryId = #{record.categoryid,jdbcType=INTEGER},
      categoryName = #{record.categoryname,jdbcType=VARCHAR},
      inventory = #{record.inventory,jdbcType=BIGINT},
      salesVolume = #{record.salesvolume,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.fjut.bookshop.domain.CateGory" >
    update bs_category
    <set >
      <if test="categoryname != null" >
        categoryName = #{categoryname,jdbcType=VARCHAR},
      </if>
      <if test="inventory != null" >
        inventory = #{inventory,jdbcType=BIGINT},
      </if>
      <if test="salesvolume != null" >
        salesVolume = #{salesvolume,jdbcType=BIGINT},
      </if>
    </set>
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.fjut.bookshop.domain.CateGory" >
    update bs_category
    set categoryName = #{categoryname,jdbcType=VARCHAR},
      inventory = #{inventory,jdbcType=BIGINT},
      salesVolume = #{salesvolume,jdbcType=BIGINT}
    where categoryId = #{categoryid,jdbcType=INTEGER}
  </update>
</mapper>